<link rel="stylesheet" type="text/css" href="../stylesheets/home.css" />

<div>
    <h2 id="msg"><%- msg %></h2>
    <form action="/adduser" id="register"><input type="submit" value="Create Account" /><br></form>
    <form action="/login" id="login"><input type="submit" value="Login" /><br></form>
    <input type="submit" id="logout" value="Logout">
</div>
<br>
<table cellspacing="2" cellpadding="5" border="1">
    <tbody>
        <tr>
            <th colspan="5" scope="colgroup">Recently asked questions</th>
        </tr>

        <tr>
            <th scope="col">Title</th>
            <th scope="col">Asked by</th>
            <th scope="col">Timestamp</th>
            <th scope="col">Score</th>
            <th scope="col">Views</th>
        </tr>

        <tr id="q1">
            <td scope="row" id="q1a"></td>
            <td id="q1b"></td>
            <td id="q1c"></td>
            <td id="q1d"></td>
            <td id="q1e"></td>
        </tr>

        <tr id="q2">
            <td scope="row" id="q2a"></td>
            <td id="q2b"></td>
            <td id="q2c"></td>
            <td id="q2d"></td>
            <td id="q2e"></td>
        </tr>

        <tr id="q3">
            <td scope="row" id="q3a"></td>
            <td id="q3b"></td>
            <td id="q3c"></td>
            <td id="q3d"></td>
            <td id="q3e"></td>
        </tr>

        <tr id="q4">
            <td scope="row" id="q4a"></td>
            <td id="q4b"></td>
            <td id="q4c"></td>
            <td id="q4d"></td>
            <td id="q4e"></td>
        </tr>

        <tr id="q5">
            <td scope="row" id="q5a"></td>
            <td id="q5b"></td>
            <td id="q5c"></td>
            <td id="q5d"></td>
            <td id="q5e"></td>
        </tr>

        <tr id="q6">
            <td scope="row" id="q6a"></td>
            <td id="q6b"></td>
            <td id="q6c"></td>
            <td id="q6d"></td>
            <td id="q6e"></td>
        </tr>

        <tr id="q7">
            <td scope="row" id="q7a"></td>
            <td id="q7b"></td>
            <td id="q7c"></td>
            <td id="q7d"></td>
            <td id="q7e"></td>
        </tr>

        <tr id="q8">
            <td scope="row" id="q8a"></td>
            <td id="q8b"></td>
            <td id="q8c"></td>
            <td id="q8d"></td>
            <td id="q8e"></td>
        </tr>

        <tr id="q9">
            <td scope="row" id="q9a"></td>
            <td id="q9b"></td>
            <td id="q9c"></td>
            <td id="q9d"></td>
            <td id="q9e"></td>
        </tr>

        <tr id="q10">
            <td scope="row" id="q10a"></td>
            <td id="q10b"></td>
            <td id="q10c"></td>
            <td id="q10d"></td>
            <td id="q10e"></td>
        </tr>
    </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../scripts/home.js"></script>
